{% load static %}

<!DOCTYPE html>
<html class="wide wow-animation" lang="uk">
<head>
    <title>{% block title %}{% endblock title %}</title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block description %}<meta name="description" content="Домашні торти на замовлення Житомир. Тортулька - це завжди свято та гарний настрій! Замовити та купити торт на Тортулька в Житомирі.">{% endblock %}
    <meta name="keywords" content="торт, домашній, замовлення, купити, замовити, Житомир">
    <meta property="og:title" content="Торти на замовлення Житомир. Замовити торт з доставкою по Житомиру">
    <link rel="alternate" href="https://tortulka.pythonenywhere.com" hreflang="uk-UA">
    <link rel="icon" href="{% static 'images/favicon.ico' %}"
          type="image/x-icon">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CLato%7CLora">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>
<body>
<!-- Page preloader -->
<div class="preloader">
    <div class="preloader-body">
        <div class="cssload-bell">
            <div class="cssload-circle">
                <div class="cssload-inner"></div>
            </div>
            <div class="cssload-circle">
                <div class="cssload-inner"></div>
            </div>
            <div class="cssload-circle">
                <div class="cssload-inner"></div>
            </div>
            <div class="cssload-circle">
                <div class="cssload-inner"></div>
            </div>
            <div class="cssload-circle">
                <div class="cssload-inner"></div>
            </div>
        </div>
    </div>
</div>
<!-- End page preloader -->
<div class="page">
    <!-- Page Header-->
    {% block header %}{% include 'header.html' %}{% endblock %}

    <!-- Main content -->
    {% block content %}{% endblock %}

    <!-- Page Footer-->
    {% block footer %}{% include 'footer.html' %}{% endblock %}
</div>
<script src="{% static 'js/core.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
{% block extra_js %}{% endblock %}
</body>
</html>
