{% extends 'base.html' %}
{% load static %}
{% load cache %}

{% block description %}<meta name="description" content="Домашні торти на замовлення Житомир. На будь-яке свято, будь-якої складності.">{% endblock %}
{% block title %}Категорії Продукції Тортулька{% endblock %}
{% cache 21600 category %}
{% block content %}
    <section class="breadcrumbs-custom">
        <div class="parallax-container" data-parallax-img="{% static 'images/bg-blog.jpg' %}">
            <div class="breadcrumbs-custom-body parallax-content context-dark">
                <div class="container">
                    <h1 class="breadcrumbs-custom-title">Категорія</h1>
                </div>
            </div>
        </div>
        <div class="breadcrumbs-custom-footer">
            <div class="container">
                <ul class="breadcrumbs-custom-path">
                    <li><a href="{% url 'home' %}">Головна</a></li>
                    <li class="active">Продукція</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- Button Sizes-->
    <section class="section section-xl bg-primary-2">
        <div class="container">
            <div class="row row-30">
                {% for category in category_list %}
                <div class="col-sm-6 col-lg-4">
                    <!-- Post Classic-->
                    <article class="post post-classic box-md"><a
                            class="post-classic-figure"
                            href="{{ category.get_absolute_url }}">
                        {% if category.image %}
                        <img
                            src="{{ category.image.url }}" alt="" width="370"
                            height="239"/>
                        {% else %}
                        <img
                            src="{% static 'images/default.jpg' %}" alt="" width="370"
                            height="239"/>
                        {% endif %}
                    </a>
                        <div class="post-classic-content">
                            <h4 class="post-classic-title"><a
                                    href="{{ category.get_absolute_url }}">{{ category.title }}</a></h4>
                            <p class="post-classic-text">{{ category.description }}</p>
                        </div>
                    </article>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
{% endcache %}
