{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="breadcrumbs-custom">
        <div class="parallax-container"
             data-parallax-img="{% static 'images/bg-elements-1.jpg' %}">
            <div class="breadcrumbs-custom-body parallax-content context-dark">
                <div class="container">
                    <h1 class="breadcrumbs-custom-title">Контакти</h1>
                </div>
            </div>
        </div>
        <div class="breadcrumbs-custom-footer">
            <div class="container">
                <ul class="breadcrumbs-custom-path">
                    <li><a href="{% url 'home' %}">Головна</a></li>
                    <li class="active">Контакти</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- Get in touch-->
    <section class="section section-xl bg-default text-md-left">
        <div class="container">
            <div class="title-classic">
                <h3 class="title-classic-title">Надіслати лист</h3>
                <p class="title-classic-subtitle">Для співпраці та пропозицій <br
                            class="d-none d-lg-block">можете надіслати мені особистий лист.</p>
            </div>
            <div>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}"
                             role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            </div>
            <form class="rd-form rd-mailform"
                  data-form-output="form-output-global" data-form-type="contact"
                  method="post"
                  action=".">
                {% csrf_token %}
                <div class="row row-20 row-md-30">
                    <div class="col-lg-8">
                        <div class="row row-20 row-md-30">
                            <div class="col-sm-6">
                                <div class="form-wrap">
                                    {{ form.first_name }}
                                    <label class="form-label"
                                           for="id_first_name">Імʼя</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-wrap">
                                    {{ form.last_name }}
                                    <label class="form-label"
                                           for="id_last_name">Прізвище</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-wrap">
                                    {{ form.email }}
                                    <label class="form-label"
                                           for="id_email">E-mail</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-wrap">
                                    {{ form.phone_number }}
                                    <label class="form-label"
                                           for="id_phone_number">Номер телефону</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-wrap">
                            <label class="form-label" for="id_message">Повідомлення</label>
                            {{ form.message }}
                        </div>
                    </div>
                </div>
                <button class="button button-sm button-primary button-zakaria"
                        type="submit">Надіслати
                </button>
            </form>
        </div>
    </section>
    <!-- Get in touch-->
    <section class="section section-xl bg-gray-4">
        <div class="container">
            <div class="row row-30 justify-content-center">
                <div class="col-sm-6 col-md-4">
                    <h4 class="font-weight-regular"> Номери телефону</h4>
                    <ul class="contacts-classic">
                        <li>Kyivstar <a href="tel:#">+380-67-588-8322</a>
                        </li>
                        <li>life <a href="tel:#">+380-93-159-3933</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-4">
                    <h4 class="font-weight-regular"> Адреса</h4>
                    <div class="contacts-classic">Житомир, Україна</div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <h4 class="font-weight-regular"> Пошта</h4>
                    <ul class="contacts-classic">
                        <li><a href="mailTo:#">tortulk4@gmail.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row row-30 justify-content-center">
            <div class="col-sm-12 col-md-12">
                <div id="map"></div>
            </div>
        </div>
    </div>
<div class="snackbars" id="form-output-global"></div>
{% endblock %}
{% block  extra_js %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPb_FegVna1pZbCSFhx3qimQdG6wF0mzw&callback=initMap"
    async defer></script>
{% endblock %}