{% load static %}

<footer class="section footer-modern footer-modern-2">
    <div class="footer-modern-body section-xl">
        <div class="container">
            <div class="row row-40 row-md-50 justify-content-xl-between">
                <div class="col-md-10 col-lg-3 col-xl-4 wow fadeInRight">
                    <div class="inset-xl-right-70 block-1">
                        <div class="footer-classic-brand">
                            <!--Brand--><a class="brand"
                                           href="{% url 'home' %}"><img
                                class="brand-logo-dark"
                                src="{% static 'images/tortulka_logo1.png' %}" alt=""
                                width="156" height="46"/></a>
                        </div>
                        <p class="footer-classic-text">Працюю кондитером починаючи
                            з 1989 року
                            для забезпечення смачних тортів та
                            інших видів випічки для різноманітних заходів,
                            включаючи весілля, Дні народження та вечірки. Я
                            буду рада запропонувати Вам торт, який Ви полюбите.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-7 col-lg-5 wow fadeInRight"
                     data-wow-delay=".1s">
                    <h5 class="footer-modern-title">Навігація</h5>
                    <ul class="footer-modern-list footer-modern-list-2 d-sm-inline-block d-md-block">
                        <li><a href="{% url 'about' %}">Про мене</a></li>
                        <li><a href="{% url 'products' %}">Продукція</a></li>
                        <li><a href="{% url 'rules' %}">Правила</a></li>
{#                        <li><a href="grid-shop.html">Відгуки</a></li>#}
{#                        <li><a href="index.html#">FAQ</a></li>#}
                        <li><a href="{% url 'contacts' %}">Контакти</a></li>
                        <li><a href="{% url 'product_list' 'vesilni' %}">Весільні торти</a></li>
                        <li><a href="{% url 'product_list' 'na-den-narodzhennya' %}">На День народження</a></li>
                        <li><a href="{% url 'search' %}">Пошук</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3 wow fadeInRight"
                     data-wow-delay=".2s">
                    <h5 class="footer-modern-title">На зв'язку</h5>
                    <ul class="contacts-creative">
                        <li>
                            <div class="unit unit-spacing-sm flex-column flex-md-row">
                                <div class="unit-left"><span
                                        class="icon mdi mdi-clock"></span>
                                </div>
                                <div class="unit-body">З 9:00 до 20:00</div>
                            </div>
                        </li>
                        <li>
                            <div class="unit unit-spacing-sm flex-column flex-md-row">
                                <div class="unit-left"><span
                                        class="icon mdi mdi-map-marker"></span>
                                </div>
                                <div class="unit-body">Житомир, Україна</div>
                            </div>
                        </li>
                        <li>
                            <div class="unit unit-spacing-sm flex-column flex-md-row">
                                <div class="unit-left"><span
                                        class="icon mdi mdi-phone"></span>
                                </div>
                                <div class="unit-body"><a href="tel:#">+380-67-588-8322</a>
                                    <br><a href="tel:#">+380-93-159-3933</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="unit unit-spacing-sm flex-column flex-md-row">
                                <div class="unit-left"><span
                                        class="icon mdi mdi-email-outline"></span>
                                </div>
                                <div class="unit-body"><a href="mailto:#">tortulk4@gmail.com</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row row-40 row-md-50 justify-content-center">
                <div class="wow fadeInRight"
                     data-wow-delay=".2s">
                    <h5 class="footer-modern-title">Соціальні мережі</h5>
                    <ul class="list-inline list-social list-inline-lg">
                        <li><a class="icon mdi mdi-facebook" target="_blank"
                               title="Facebook"
                               href="https://www.facebook.com/cakesalla"></a>
                        </li>
                        <li><a class="icon mdi mdi-instagram" target="_blank"
                               title="Instagram"
                               href="https://instagram.com/cakes_zt"></a></li>
                        <li><a class="icon mdi mdi-telegram" target="_blank"
                               title="Telegram"
                               href="https://t.me/joinchat/AAAAAFdTfGfta9EtZFXJGw"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-modern-panel text-center">
        <div class="container">
            <p class="rights"><span>&copy;&nbsp; </span><span
                    class="copyright-year"></span><span>&nbsp;</span><span>Тортулька</span><span>.&nbsp; Усі права збережено.</span><span>&nbsp;</span>
                    Розроблено <a
                    href="https://github.com/perevalova" target="_blank">perevalova</a><span></span></p>
        </div>
    </div>
</footer>
