{% load static %}

<header class="section page-header">
    <!-- RD Navbar-->
    <div class="rd-navbar-wrap">
        <nav class="rd-navbar rd-navbar-classic"
             data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed"
             data-md-layout="rd-navbar-fixed"
             data-md-device-layout="rd-navbar-fixed"
             data-lg-layout="rd-navbar-static"
             data-lg-device-layout="rd-navbar-fixed"
             data-xl-layout="rd-navbar-static"
             data-xl-device-layout="rd-navbar-static"
             data-xxl-layout="rd-navbar-static"
             data-xxl-device-layout="rd-navbar-static"
             data-lg-stick-up-offset="100px" data-xl-stick-up-offset="100px"
             data-xxl-stick-up-offset="100px" data-lg-stick-up="true"
             data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
                <div class="rd-navbar-main">
                    <!-- RD Navbar Panel-->
                    <div class="rd-navbar-panel">
                        <!-- RD Navbar Toggle-->
                        <button class="rd-navbar-toggle"
                                data-rd-navbar-toggle=".rd-navbar-nav-wrap">
                            <span></span></button>
                        <!-- RD Navbar Brand-->
                        <div class="rd-navbar-brand">
                            <!--Brand--><a class="brand"
                                           href="{% url 'home' %}"><img
                                class="brand-logo-dark"
                                src="{% static 'images/tortulka_logo1.png' %}" alt=""
                                width="156" height="46"/><img
                                class="brand-logo-light"
                                src="{% static 'images/logo-inverse-312x92.png' %}" alt=""
                                width="156" height="46"/></a>
                        </div>
                    </div>
                    <div class="rd-navbar-nav-wrap">
                        <ul class="rd-navbar-nav">
                            <li class="rd-nav-item"><a class="rd-nav-link"
                                                       href="{% url 'home' %}">Головна</a>
                            </li>
                            <li class="rd-nav-item"><a class="rd-nav-link"
                                                       href="{% url 'products' %}">Продукція</a>
{#                                <ul class="rd-menu rd-navbar-dropdown">#}
{#                                    <li class="rd-dropdown-item"><a#}
{#                                            class="rd-dropdown-link"#}
{#                                            href="about-us.html">About#}
{#                                        Us</a>#}
{#                                    </li>#}
{#                                    <li class="rd-dropdown-item"><a#}
{#                                            class="rd-dropdown-link"#}
{#                                            href="what-we-offer.html">What#}
{#                                        We Offer</a>#}
{#                                    </li>#}
{#                                </ul>#}
                            </li>
                            <li class="rd-nav-item"><a class="rd-nav-link"
                                                       href="">Правила</a>
{#                                <ul class="rd-menu rd-navbar-dropdown">#}
{#                                    <li class="rd-dropdown-item"><a#}
{#                                            class="rd-dropdown-link"#}
{#                                            href="grid-blog.html">Grid#}
{#                                        Blog</a>#}
{#                                    </li>#}
                            </li>
                            <li class="rd-nav-item"><a class="rd-nav-link"
                                                       href="">Про мене</a>
                            </li>
                            <li class="rd-nav-item"><a class="rd-nav-link"
                                                       href="{% url 'contacts' %}">Контакти</a>
                            </li>
                        </ul>
                    </div>
                    <div class="rd-navbar-main-element">
                        <!-- RD Navbar Search-->
                        <div class="rd-navbar-search rd-navbar-search-2">
                            <button class="rd-navbar-search-toggle rd-navbar-fixed-element-3"
                                    data-rd-navbar-toggle=".rd-navbar-search">
                                <span></span></button>
                            <form class="rd-search"
{#                                  action="{% url '' %}"#}
                                  data-search-live="rd-search-results-live"
                                  method="GET">
                                <div class="form-wrap">
                                    <input class="rd-navbar-search-form-input form-input"
                                           id="rd-navbar-search-form-input"
                                           type="text" name="s"
                                           autocomplete="off"/>
                                    <label class="form-label"
                                           for="rd-navbar-search-form-input">Пошук...</label>
                                    <div class="rd-search-results-live"
                                         id="rd-search-results-live"></div>
                                    <button class="rd-search-form-submit fl-bigmug-line-search74"
                                            type="submit"></button>
                                </div>
                            </form>
                        </div>

                    </div>

                </div>
            </div>
        </nav>
    </div>
</header>