{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Swiper-->
    <section class="section swiper-container swiper-slider swiper-slider-4"
             data-loop="true" data-effect="fade">
        <div class="swiper-wrapper">
            <div class="swiper-slide swiper-slide-1 custom-overlay"
                 data-slide-bg="{% static 'images/slide-1.jpg' %}">
                <div class="swiper-slide-caption section-md text-sm-left">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8 col-md-7">
                                <h1 class="swiper-title-1"
                                    data-caption-animate="fadeInLeft"
                                    data-caption-delay="100">Найкращі весільні
                                    торти</h1>
                                <h6 class="swiper-title-2 text-width-medium"
                                    data-caption-animate="fadeInLeft"
                                    data-caption-delay="250">На Тортулька ми пропонуємо широке розмаїття
                                    тортів та десертів.</h6>
                                <div class="button-wrap"
                                     data-caption-animate="fadeInLeft"
                                     data-caption-delay="400"><a
                                        class="button button-sm button-primary button-zakaria"
                                        href="{% url 'products' %}">Переглянути</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide swiper-slide-1 custom-overlay"
                 data-slide-bg="{% static 'images/slide-2.jpg' %}">
                <div class="swiper-slide-caption section-md text-sm-left">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8 col-md-7">
                                <h1 class="swiper-title-1"
                                    data-caption-animate="fadeInLeft"
                                    data-caption-delay="100">Підберіть
                                    торт</h1>
                                <h6 class="swiper-title-2 text-width-medium"
                                    data-caption-animate="fadeInRight"
                                    data-caption-delay="250">Шукаєте щось
                                    унікальне? Я із задоволенням
                                    зроблю на замовлення торт
                                    для вашої події.</h6>
                                <div class="button-wrap"
                                     data-caption-animate="fadeInUp"
                                     data-caption-delay="400"><a
                                        class="button button-sm button-primary button-zakaria"
                                        href="{% url 'products' %}">Переглянути</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Swiper Pagination-->
        <div class="swiper-pagination"></div>
        <!-- Swiper Navigation-->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </section>
    <!-- What We Offer-->
    <section class="section section-xxl section-xxl-2 bg-default text-md-left">
        <div class="container">
            <div class="row row-70 row-lg-70 justify-content-center align-items-md-center">
                <div class="col-sm-8 col-md-5 col-xl-6">
                    <div class="decorative-box"><img class="box-shadow-1"
                                                     src="{% static 'images/grid-fullwidth-gallery-7-480x339.jpg' %}"
                                                     alt="" width="518"
                                                     height="424"/>
                    </div>
                </div>
                <div class="col-md-7 col-xl-6">
                    <h2 class="text-transform-capitalize wow fadeInRight">Що
                        ми пропонуємо</h2>
                    <!-- Bootstrap collapse-->
                    <div class="card-group-custom card-group-corporate"
                         id="accordion1" role="tablist"
                         aria-multiselectable="false">
                        <!-- Bootstrap card-->
                        <article
                                class="card card-custom card-corporate wow fadeInRight"
                                data-wow-delay=".1s">
                            <div class="card-header" role="tab">
                                <div class="card-title"><a
                                        id="accordion1-card-head-kjcqalpj"
                                        data-toggle="collapse"
                                        data-parent="#accordion1"
                                        href="#accordion1-card-body-dtbcfbyf"
                                        aria-controls="accordion1-card-body-dtbcfbyf"
                                        aria-expanded="true" role="button">Весільні
                                    торти
                                    <div class="card-arrow">
                                        <div class="icon"></div>
                                    </div>
                                </a></div>
                            </div>
                            <div class="collapse show"
                                 id="accordion1-card-body-dtbcfbyf"
                                 aria-labelledby="accordion1-card-head-kjcqalpj"
                                 data-parent="#accordion1" role="tabpanel">
                                <div class="card-body">
                                    <p>Спеціально розроблені для кожної пари,
                                        мої торти на замовлення демонструють
                                        мою увагу до деталей, краси та смаку.
                                        Якщо ви плануєте весілля, мої торти
                                        стануть ідеальним доповненням до вашої
                                        події.</p>
                                </div>
                            </div>
                        </article>
                        <!-- Bootstrap card-->
                        <article
                                class="card card-custom card-corporate wow fadeInRight"
                                data-wow-delay=".2s">
                            <div class="card-header" role="tab">
                                <div class="card-title"><a class="collapsed"
                                                           id="accordion1-card-head-vwsbunqx"
                                                           data-toggle="collapse"
                                                           data-parent="#accordion1"
                                                           href="#accordion1-card-body-itmlyfpl"
                                                           aria-controls="accordion1-card-body-itmlyfpl"
                                                           aria-expanded="false"
                                                           role="button">Святкові
                                    торти
                                    <div class="card-arrow">
                                        <div class="icon"></div>
                                    </div>
                                </a></div>
                            </div>
                            <div class="collapse"
                                 id="accordion1-card-body-itmlyfpl"
                                 aria-labelledby="accordion1-card-head-vwsbunqx"
                                 data-parent="#accordion1" role="tabpanel">
                                <div class="card-body">
                                    <p>Я також пропоную широкий спектр
                                        святкових тортів на Дні народження,
                                        випускні вечори та інші види заходів.
                                        Усі торти випікаються свіжо на
                                        місці, на замовлення, лише найсвіжіші
                                        інгредієнти, щоб Ваш торт був таким
                                        чудовим, як виглядає!</p>
                                </div>
                            </div>
                        </article>
                        <!-- Bootstrap card-->
                        <article
                                class="card card-custom card-corporate wow fadeInRight"
                                data-wow-delay=".3s">
                            <div class="card-header" role="tab">
                                <div class="card-title"><a class="collapsed"
                                                           id="accordion1-card-head-akngkvnq"
                                                           data-toggle="collapse"
                                                           data-parent="#accordion1"
                                                           href="#accordion1-card-body-hqwvfdxh"
                                                           aria-controls="accordion1-card-body-hqwvfdxh"
                                                           aria-expanded="false"
                                                           role="button">Інше
                                    <div class="card-arrow">
                                        <div class="icon"></div>
                                    </div>
                                </a></div>
                            </div>
                            <div class="collapse"
                                 id="accordion1-card-body-hqwvfdxh"
                                 aria-labelledby="accordion1-card-head-akngkvnq"
                                 data-parent="#accordion1" role="tabpanel">
                                <div class="card-body">
                                    <p>Я виготовляю і традиційні торти. Такі як:
                                        "Наполеон", "Київський торт", "Пташине
                                        молоко" та багато інших. Можу
                                        приготувати паску, різдвяний кекс або
                                        капкейки за Ваши бажанням!</p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="row row-30">
                        <div class="col-sm-6 col-lg-4 wow fadeInLeft"
                             data-wow-delay=".2s">
                            <article class="box-icon-creative">
                                <div class="unit flex-column flex-md-row flex-lg-column flex-xl-row align-items-md-center align-items-lg-start align-items-xl-center">
                                    <div class="unit-left">
                                        <div class="box-icon-creative-icon restaurant-icon-27"></div>
                                    </div>
                                    <div class="unit-body">
                                        <h4 class="box-icon-creative-title"><a
                                                href="{% url 'home' %}#">Індивідуальний
                                            підхід</a></h4>
                                        <p class="box-icon-creative-text">Вислухаю
                                            всі Ваші побажання</p>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-6 col-lg-4 wow fadeInLeft"
                             data-wow-delay=".1s">
                            <article class="box-icon-creative">
                                <div class="unit flex-column flex-md-row flex-lg-column flex-xl-row align-items-md-center align-items-lg-start align-items-xl-center">
                                    <div class="unit-left">
                                        <div class="box-icon-creative-icon restaurant-icon-22"></div>
                                    </div>
                                    <div class="unit-body">
                                        <h4 class="box-icon-creative-title"><a
                                                href="{% url 'home' %}#">Свіжий та
                                            смачний</a></h4>
                                        <p class="box-icon-creative-text">Тільки
                                            зі свіжих інгрідієнтів</p>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-6 col-lg-4 wow fadeInLeft">
                            <article class="box-icon-creative">
                                <div class="unit flex-column flex-md-row flex-lg-column flex-xl-row align-items-md-center align-items-lg-start align-items-xl-center">
                                    <div class="unit-left">
                                        <div class="box-icon-creative-icon restaurant-icon-23"></div>
                                    </div>
                                    <div class="unit-body">
                                        <h4 class="box-icon-creative-title"><a
                                                href="{% url 'home' %}#">Зроблено з
                                            любов'ю</a></h4>
                                        <p class="box-icon-creative-text">
                                            Готуються з турботою для моїх
                                            клієнтів</p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- New Flavors-->
    <section class="section section-xxl bg-primary-2">
        <div class="container">
            <h2 class="text-transform-capitalize wow fadeScale">Продукція
                </h2>
            <div class="row row-lg row-30 row-lg-50">
                    {% for product in product_list %}
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <!-- Product-->
                    <!-- 8 -->
                    <article class="product wow fadeInRight">
                        <div class="product-body">
                            <div class="product-figure"><img
                                    src="{{ product.images.all.first.image.url }}" alt=""
                                    width="148" height="128"/>
                            </div>
                            <h5 class="product-title"><a
                                    href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                            </h5>
                        </div>
                    </article>
                </div>
                    {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}