{% if is_paginated %}
    {% with order_by=request.GET.order_by q=request.GET.q category=request.GET.category tiers=request.GET.tiers %}
        <div class="pagination-wrap">
            <!-- Bootstrap Pagination-->
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li><a class="page-link"
                            href="?page=1{% if q %}&amp;q={{ q }}{% endif %}{% if category %}&amp;category={{ category }}{% endif %}{% if tiers %}&amp;tiers={{ tiers }}{% endif %}{% if order_by %}&amp;order_by={{ order_by }}{% endif %}"
                            aria-label="Previous">&laquo;</a>
                    </li>
                    {% for p in object_list.paginator.page_range %}
                        {% if p <= object_list.number|add:4 and p >= object_list.number|add:-5 %}
                            <li {% if object_list.number == p %}class="page-item active"{% endif %}>
                                <a href="?page={{ p }}{% if q %}&amp;q={{ q }}{% endif %}{% if category %}&amp;category={{ category }}{% endif %}{% if tiers %}&amp;tiers={{ tiers }}{% endif %}{% if order_by %}&amp;order_by={{ order_by }}{% endif %}"
                                   class="page-link">{{ p }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <li><a class="page-link" href="?page={{ object_list.paginator.num_pages }}{% if q %}&amp;q={{ q }}{% endif %}{% if category %}&amp;category={{ category }}{% endif %}{% if tiers %}&amp;tiers={{ tiers }}{% endif %}{% if order_by %}&amp;order_by={{ order_by }}{% endif %}"
                           aria-label="Next">&raquo;</a>
                    </li>
                </ul>
            </nav>
        </div>
    {% endwith %}
{% endif %}
