{% extends 'base.html' %}
{% load static %}

{% block title %}Торти {{ category }} - Тортулька, Житомир{% endblock %}
{% block description %}<meta name="description" content="Торти {{ category }}. Обрати торт на будь-яке свято. Домашні торти на замовлення у Житомирі на Тортулька.">{% endblock %}
{% block og_title %}<meta name="og:title" content="Торти {{ category }} - Тортулька, Житомир">{% endblock %}
{% block og_description %}<meta name="og:description"
          content="Торти {{ category }}. Домашні торти на замовлення у Житомирі на Тортулька.">{% endblock %}


{% block content %}
    <section class="breadcrumbs-custom">
        <div class="parallax-container" data-parallax-img="{% static 'images/bg-img-1.jpg' %}">
            <div class="breadcrumbs-custom-body parallax-content context-dark">
                <div class="container">
                    <h1 class="breadcrumbs-custom-title">{{ category.title }}</h1>
                </div>
            </div>
        </div>
        <div class="breadcrumbs-custom-footer">
            <div class="container">
                <ul class="breadcrumbs-custom-path">
                    <li><a href="{% url 'home' %}">Головна</a></li>
                    <li><a href="{% url 'products' %}">Продукція</a></li>
                    <li class="active">Категорії</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- Section Products -->
    <section class="section section-xxl bg-primary-2 text-md-left">
        <div class="container">
            <div class="row row-50">
            <!-- Filter products -->
                <div class="col-lg-4 col-xl-3">
                    <div class="aside row row-30 row-md-50 justify-content-md-between">
                        <form action="" method="get">
                        <!-- Filter by category -->
                        <div class="aside-item col-sm-6 col-md-5 col-lg-12">
                            <h6 class="aside-title">Категорії</h6>
                            <ul class="list-shop-filter">
                                <li>
                                    <label class="radio-inline">
                                        <input name="category"
                                               value="all"
                                               type="radio" {% ifequal request.GET.category 'all' %}
                                       checked="checked" {% endifequal %}>Усі
                                    </label>
                                </li>
                                <li>
                                    <label class="radio-inline">
                                        <input name="category"
                                               value="mastika"
                                               type="radio" {% ifequal request.GET.category 'mastika' %}
                                       checked="checked" {% endifequal %}>Мастика
                                    </label>
                                </li>
                                <li>
                                    <label class="radio-inline">
                                        <input name="category"
                                               value="kremovi"
                                               type="radio" {% ifequal request.GET.category 'kremovi' %}
                                       checked="checked" {% endifequal %}>Кремові
                                    </label>
                                </li>
                                <li>
                                    <label class="radio-inline">
                                        <input name="category"
                                               value="medovik"
                                               type="radio" {% ifequal request.GET.category 'medovik' %}
                                       checked="checked" {% endifequal %}>Медовик
                                    </label>
                                </li>
                                <li>
                                    <label class="radio-inline">
                                        <input name="category"
                                               value="krem-chiz"
                                               type="radio" {% ifequal request.GET.category 'krem-chiz' %}
                                       checked="checked" {% endifequal %}>Крем чиз
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <!-- Filter by tiers -->
                        <div class="aside-item col-sm-6 col-md-5 col-lg-12">
                            <h6 class="aside-title tiers-filter">Ярусність</h6>
                            <ul class="list-shop-filter">
                                <li>
                                    <label class="radio-inline">
                                        <input name="tiers"
                                               value="all"
                                               type="radio" {% ifequal request.GET.tiers 'all' %}
                                       checked="checked" {% endifequal %}>Усі
                                    </label>
                                </li>
                                <li>
                                    <label class="radio-inline">
                                        <input name="tiers"
                                               value="odin-yarus"
                                               type="radio" {% ifequal request.GET.tiers 'odin-yarus' %}
                                       checked="checked" {% endifequal %}>Один ярус
                                    </label>
                                </li>
                                <li>
                                    <label class="radio-inline">
                                        <input name="tiers"
                                               value="dva-yarusi"
                                               type="radio" {% ifequal request.GET.tiers 'dva-yarusi' %}
                                       checked="checked" {% endifequal %}>Два яруси
                                    </label>
                                </li>
                                <li>
                                    <label class="radio-inline">
                                        <input name="tiers"
                                               value="tri-yarusi"
                                               type="radio" {% ifequal request.GET.tiers 'tri-yarusi' %}
                                       checked="checked" {% endifequal %}>Три яруси
                                    </label>
                                </li>
                                <li>
                                    <label class="radio-inline">
                                        <input name="tiers"
                                               value="chotyry_yarusy"
                                               type="radio" {% ifequal request.GET.tiers 'chotyry_yarusy' %}
                                       checked="checked" {% endifequal %}>Чотири яруси
                                    </label>
                                </li>
                            </ul>
                            <div class="filter-button">
                                <button class="button button-sm button-secondary button-zakaria"
                                        type="submit">Фільтрувати
                                </button>
                            </div>
                        </div>
                        </form>
                        <!-- Search Form-->
                            <form class="rd-search form-search form-custom"
                                  action="" method="get">
                                <div class="form-wrap">
                                    <input class="form-input" id="search-form"
                                           type="text" name="q"
                                           autocomplete="off">
                                    <label class="form-label" for="search-form">Шукати...</label>
                                    <button class="button-search fl-bigmug-line-search74"
                                            type="submit"></button>
                                </div>
                            </form>
{#                        <div class="aside-item col-sm-6 col-lg-12">#}
{#                            <h6 class="aside-title">Популярні продукти</h6>#}
{#                            <div class="row row-10 row-lg-20 gutters-10">#}
{#                                <div class="col-4 col-sm-6 col-md-12">#}
{#                                    <!-- Product Minimal-->#}
{#                                    <article class="product-minimal">#}
{#                                        <div class="unit unit-spacing-sm flex-column flex-md-row align-items-center">#}
{#                                            <div class="unit-left"><a#}
{#                                                    class="product-minimal-figure"#}
{#                                                    href=""><img#}
{#                                                    src=""#}
{#                                                    alt="" width="106"#}
{#                                                    height="104"/></a></div>#}
{#                                            <div class="unit-body">#}
{#                                                <p class="product-minimal-title">#}
{#                                                    <a href="">Весільний торт</a></p>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </article>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
                    </div>
                </div>
            <!-- End filter products -->
                <div class="col-lg-8 col-xl-9">
                    <div class="product-top-panel group-md">
                        <p class="product-top-panel-title">Усього {{ object_list.count }}
                            </p>
                        <div>
                            <div class="group-sm group-middle">
                                <div class="product-top-panel-sorting">
                                    <span>
                                        <a href="{% url 'product_list' view.kwargs.slug %}?{% if request.GET.page %}page={{ product_list.number }}&amp;{% endif %}{% if request.GET.category %}category={{ request.GET.category }}&amp;{% endif %}{% if request.GET.tiers %}tiers={{ request.GET.tiers }}&amp;{% endif %}order_by=newest">Нові</a> |
                                        <a href="{% url 'product_list' view.kwargs.slug %}?{% if request.GET.page %}page={{ product_list.number }}&amp;{% endif %}{% if request.GET.category %}category={{ request.GET.category }}&amp;{% endif %}{% if request.GET.tiers %}tiers={{ request.GET.tiers }}&amp;{% endif %}order_by=oldest">Старі</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-30 row-lg-50">
                    {% if object_list %}
                        <!-- Product-->
                        {% for object in object_list %}
                        <div class="col-sm-6 col-md-4 col-lg-6 col-xl-4">
                            <article class="product">
                                <div class="product-body">
                                    {% if object.images.all %}
                                    <div class="product-figure"><img
                                            src="{{ object.images.all.first.image.url }}"
                                            alt="" width="220" height="160"/>
                                    </div>
                                    {% else %}
                                    <div class="product-figure"><img
                                            src="{% static 'images/default.jpg' %}"
                                            alt="" width="220" height="160"/>
                                    </div>
                                    {% endif %}
                                    <h5 class="product-title"><a
                                            href="{{ object.get_absolute_url }}">{{ object.title }}</a></h5>
                                </div>
                                <div class="product-button-wrap">
                                    <div class="product-button"><a
                                            class="button button-gray-14 button-zakaria fl-bigmug-line-search74"
                                            href="{{ object.get_absolute_url }}"></a>
                                    </div>
                                </div>
                                    {#                                <span class="product-badge product-badge-sale">Sale</span>#}
                            </article>
                        </div>
                        {% endfor %}
                    {% else %}
                        <div class="col-lg-8 col-xl-9">
                        <h4>Нічого не знайдено</h4>
                        </div>
                    {% endif %}
                    </div>
                    {% include 'pagination.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}