{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="breadcrumbs-custom">
    <div class="parallax-container"
         data-parallax-img="{% static 'images/bg-elements-1.jpg' %}">
        <div class="breadcrumbs-custom-body parallax-content context-dark">
            <div class="container">
                <h1 class="breadcrumbs-custom-title">Правила</h1>
            </div>
        </div>
    </div>
    <div class="breadcrumbs-custom-footer">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                <li><a href="{% url 'home' %}">Головна</a></li>
                <li class="active">Правила</li>
            </ul>
        </div>
    </div>
</section>
<!-- Privacy Policy-->
<section class="section section-xxl bg-default text-md-left">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-8">
                <!-- Terms list-->
                <dl class="list-terms list-terms-1">
                    <dt class="heading-4">Замовлення</dt>
                    <dd>Старайтеся замовляти торт заздалегідь. Краще нехай це
                        буде за декілька місяців, аніж за один день.
                        Приймаю замовлення мінімум за два дні. У деяких випадках
                        можу робити торт на "термінове" замовлення, але в такому
                        випадку +20% до виробу.
                        Не приступаю до виконання, якщо не узгоджені всі моменти
                        та немає повного підтвердження з боку замовника по
                        виготовленню торта.
                        Чим складніше торт, тим раніше потрібно його замовляти.
                    </dd>
                    <dt class="heading-4">Скасування замовлення
                    </dt>
                    <dd>Якщо, нажаль, трапилося так, що Ви передумали, то прошу
                        одразу повідомити мене про це заздалегідь.
                        Так як я купляю продукти, розплановую час і роблю підготовку, то мені
                    </dd>
                    <dt class="heading-4">Доставка</dt>
                    <dd>При замовленні торта ми з Вами маємо узгодити дату та час, коли Ви плануєте забирати виріб.
                        Існує три способи доставки:
                        1) Самовивезення
                        2) Доставка до зручної для обох сторін адреси
                        3) Замовлення таксі
                    </dd>
                    <dt class="heading-4">Упакування</dt>
                    <dd>На вибір надається два види упаковки:
                        1) Проста картонна коробка (зазвичай зпід ласощів), яку я самостіно переробляю під розмір торта.
                        2) Картонна коробка з ручками відповідно до розміру торта, що коштує 20-30 гривень.
                    </dd>
                    <dt class="heading-4">Правила транспортування</dt>
                    <dd>
                        Для того щоб торт зберіг свій первинний вигляд, важливо дотримуватися правил транпортування:
                        1) Поводитися з тортом обережно. Нічого не ставити на коробку,
                        2) Тримати коробку паралельно підлозі.
                    </dd>
                    <dt class="heading-4">Правила зберігання</dt>
                    <dd>
                        Також є важливими правила зберігання:
                        1) Зберігати в холодильнику при температурі 0 - +5 градусів
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>
<div class="custom-line"></div>

{% endblock %}