{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="breadcrumbs-custom">
    <div class="parallax-container"
         data-parallax-img="{% static 'images/bg-elements-1.jpg' %}">
        <div class="breadcrumbs-custom-body parallax-content context-dark">
            <div class="container">
                <h1 class="breadcrumbs-custom-title">Результати пошуку</h1>
            </div>
        </div>
    </div>
    <div class="breadcrumbs-custom-footer">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                <li><a href="{% url 'home' %}">Головна</a></li>
                <li class="active">Результати пошуку</li>
            </ul>
        </div>
    </div>
</section>
<!-- Search results-->
<section class="section section-xl bg-default">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-9">
                <!-- RD Search-->
                <form class="rd-form rd-form-inline"
                      action="." method="get">
                    <div class="form-wrap">
                        <input class="form-input"
                               type="text" name="q" autocomplete="off">
                        <label class="form-label" for="rd-search-form-input">Введіть
                            свій пошуковий запит...</label>
                    </div>
                    <div class="form-button">
                        <button class="button button-primary" type="submit">
                            Шукати
                        </button>
                    </div>
                </form>
{#                <div class="rd-search-results">#}
{##}
{#                </div>#}
                <!-- Shopping Cart-->
                <section class="section section-xl bg-default">
                    <div class="container">
                        <!-- shopping-cart-->
                        <div class="table-custom-responsive">
                            <table class="table-custom table-cart">
                                <thead>
                                <tr>
                                    <th>Назва продукту</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for product in products %}
                                <tr>
                                    <td><a class="table-cart-figure"
                                           href="{{ product.get_absolute_url }}"><img
                                            src="{{ product.images.all.first.image.url }}"
                                            alt="" width="146"
                                            height="132"/></a><a
                                            class="table-cart-link"
                                            href="{{ product.get_absolute_url }}">{{ product.title }}</a></td>

                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
<div class="custom-line"></div>
{% endblock %}