<div style="padding: 20px; background: #fafafa; font-size: 15px;">
    Вітаю!<br>
    Дякую, що підписалися на розсилку сайта Тортулька.<br>
    Ми будемо надсилати Вам найактуальнішу інформацію щодо нашої діяльності.
    <br>
    <br>
    Для того щоб підтвердити свою підписку, будь ласка, перейдіть за посиланням вказаним нижче. Якщо натискання не працює, будь ласка, скопіюйте його та вставте в URL рядок браузера.<br>
    Якщо Ви гадаєте, що цей лист надійшов Вам помилково, то, будь ласка, просто проігноруйте його.
    <br>
    <br>
    <a href="{{ confirmation_url }}" target="_blank">{{ confirmation_url }}</a>

    <br>
    <br>
    <p>
        Зауважте:<br>
        Це сповіщення всього лише лист. Будь ласка, не відповідайте на нього.<br>
    </p>
</div>