/* Product detail */
.list-inline.list-social.list-inline-lg {
    text-align: center;
}

/*Product detail (Image)*/
.slick-product-figure-first {
    width: 530px;
    height: auto;
}

.slick-product-figure-first img {
    width: 100%;
    height: auto;
}


/*Product list*/
.tiers-filter{
    margin-top: 15px;
}

.filter-button button {
    margin-top: 15px;
}

.radio-inline {
    color: #505050;
}


/*Map*/
#map {
    width: 100%;
    height: 250px;
}
